<div class="container">
  <form [formGroup]="user" class="login">
    <div class="inputGroup">
      <label for="username">Username</label>
      <input
        type="text"
        placeholder="user"
        id="username"
        formControlName="username"
      />
    </div>
    <div class="inputGroup">
      <label for="password">Password</label>
      <input
        type="password"
        placeholder="password"
        id="password"
        formControlName="password"
      />
    </div>
    <button class="buttonSubmit" (click)="handleLogin()">Inciar Sesión</button>
  </form>
</div>
